<h2 class="subtitle">Compétences</h2>
<div class="skills">
<div class="skills-card">
    <div class="skills-card_icon"><img src="../../assets/img/icon-database.png" alt="Base de données" width="40px" height="40px"></div>
    <div class="skills-card_text">Concevoir et administrer une base de données relationnelle.</div>
</div>
<div class="skills-card">
    <div class="skills-card_icon"><img src="../../assets/img/icon-responsive.png" alt="Développement web" width="40px" height="40px"></div>
    <div class="skills-card_text">Coder et déployer une application web responsive.</div>
</div>
<div class="skills-card">
    <div class="skills-card_icon"><img src="../../assets/img/icon-api.png" alt="API" width="40px" height="40px"></div>
    <div class="skills-card_text">Créer, tester, documenter et mettre en ligne une API.</div>
</div>
<div class="skills-card">
    <div class="skills-card_icon"><img src="../../assets/img/icon-shield.png" alt="Securité" width="40px" height="40px"></div>
    <div class="skills-card_text">Sécuriser une application contre les menaces fréquentes.</div>
</div>
<div class="skills-card">
    <div class="skills-card_icon"><img src="../../assets/img/icon-layers.png" alt="Supports" width="40px" height="40px"></div>
    <div class="skills-card_text">Réaliser des visuels pour différents supports.</div>
</div>
<div class="skills-card">
    <div class="skills-card_icon"><img src="../../assets/img/icon-scrum.png" alt="SCRUM" width="40px" height="40px"></div>
    <div class="skills-card_text">Utiliser les méthodes agiles pour la réalisation d’ un projet.</div>
</div>

</div>